*{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color:black;
}

.container{
    width: 400px;
    padding: 15px 35px;
    position:absolute;
    top: 50%;
    right: 50%;
    transform: translate(+50%,-50%);
    background: #fff radial-gradient(ellipse at top left,pink,white);
    border-radius: 10px;
}

.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input{
    width: 100%;
    height:50px;
    border:1px solid palevioletred;
    padding:5px ;
    margin:10px 0 10px;
    border-radius:5px; 
}

.container button{
    width: 100%;
    height:50px;
    border-radius:5px;
    font-size: 13px;
    color:white;
    font-weight: 500;
    background:rgb(78, 30, 78);
    margin: 10px 0;
    outline:0;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.container button:hover{
    background-color: purple;

}

.container #reset{
   background-color: rgb(131, 3, 46);
   color:white;
   border-radius: 5px;
   border-color:blanchedalmond;
}

.container #reset:hover{
    background-color:rgb(247, 16, 93)
}

#imgBox{
    width:200px;
    max-height:0;
    overflow:hidden;
}